In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("exercise").getOrCreate()
spark

In [39]:
from google.colab import drive
drive.mount('/content/drive')
df = spark.read.csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv", header=True, inferSchema=True)
df.show()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

1. DataFrame Creation and Inspection

In [10]:
df.tail(5)

[Row(OrderID=2930, CustomerName='Jaime Harris', ProductCategory='Fashion', Amount=680.0, OrderDate=datetime.date(2025, 2, 16), DeliveryStatus='Returned', Discount=0.2, City='Robertville', PaymentMode='Cash', CustomerSince=datetime.date(2021, 1, 28)),
 Row(OrderID=7980, CustomerName='Dawn Wyatt', ProductCategory='Fashion', Amount=285.32, OrderDate=datetime.date(2024, 4, 26), DeliveryStatus='Cancelled', Discount=0.06, City='Cherylfurt', PaymentMode='UPI', CustomerSince=datetime.date(2021, 4, 14)),
 Row(OrderID=7770, CustomerName='Kristin White', ProductCategory='Groceries', Amount=792.11, OrderDate=datetime.date(2024, 8, 10), DeliveryStatus='Returned', Discount=0.07, City='Kingport', PaymentMode='UPI', CustomerSince=datetime.date(2022, 11, 16)),
 Row(OrderID=6641, CustomerName='Jennifer Taylor', ProductCategory='Toys', Amount=578.49, OrderDate=datetime.date(2025, 4, 3), DeliveryStatus='Delivered', Discount=0.1, City='Lake Jerryburgh', PaymentMode='Cash', CustomerSince=datetime.date(2020, 11, 4)),
 Row(OrderID=4513, CustomerName='Rachel Owen', ProductCategory='Electronics', Amount=904.97, OrderDate=datetime.date(2024, 9, 21), DeliveryStatus='Delivered', Discount=0.12, City='East Paultown', PaymentMode='Cash', CustomerSince=datetime.date(2020, 10, 21))]

In [22]:
df.show(-5)

+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+
|OrderID|CustomerName|ProductCategory|OrderAmount|OrderDate|DeliveryStatus|Discount|City|PaymentMode|FinalAmount|
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+
only showing top 0 rows

In [9]:
df.printSchema()
df.dtypes

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

[('OrderID', 'int'),
 ('CustomerName', 'string'),
 ('ProductCategory', 'string'),
 ('Amount', 'double'),
 ('OrderDate', 'date'),
 ('DeliveryStatus', 'string'),
 ('Discount', 'double'),
 ('City', 'string'),
 ('PaymentMode', 'string'),
 ('CustomerSince', 'date')]

2.Selection, Renaming, and Filtering

In [11]:
df.select("OrderID", "CustomerName", "Amount").show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

In [12]:
df = df.withColumnRenamed("Amount", "OrderAmount")

In [14]:
from pyspark.sql.functions import col
df.filter(col("OrderAmount") > 500).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys|      578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|     579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|     656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|     686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|     552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|     561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|     844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|     630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|     610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [17]:
df.filter(col("City") == "New York").show()

+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-------------+
|OrderID|CustomerName|ProductCategory|OrderAmount|OrderDate|DeliveryStatus|Discount|City|PaymentMode|CustomerSince|
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-------------+
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-------------+

3. Data Manipulation

In [18]:
df = df.drop("CustomerSince")

In [19]:
df = df.withColumn("FinalAmount", col("OrderAmount") - (col("OrderAmount") * col("Discount")))

In [20]:
df.orderBy(col("FinalAmount").desc()).show()

+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|          961.429|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|         949.5318|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|         923.9868|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|         923.6481|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|         913.2825|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|
|   5949|Dr. Michael Evans|           Toys|     918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|908.9585999999999|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|          905.076|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|           899.31|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|         885.6358|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|         878.4248|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|           877.85|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|         861.5136|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import expr
df = df.replace("Cancelled", "Order Cancelled", subset=["DeliveryStatus"])
df.select("DeliveryStatus").distinct().show()

+---------------+
| DeliveryStatus|
+---------------+
|       Returned|
|      Delivered|
|Order Cancelled|
|        Pending|
+---------------+

4. Aggregations and GroupBy

In [27]:
df.groupBy("DeliveryStatus").count().show()

+---------------+-----+
| DeliveryStatus|count|
+---------------+-----+
|       Returned|  117|
|      Delivered|  119|
|Order Cancelled|  149|
|        Pending|  115|
+---------------+-----+

In [28]:
from pyspark.sql.functions import avg
df.groupBy("ProductCategory").agg(avg("OrderAmount").alias("AvgAmount")).show()

+---------------+------------------+
|ProductCategory|         AvgAmount|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

In [29]:
from pyspark.sql.functions import sum
df.groupBy("City").agg(sum("FinalAmount").alias("TotalSales")).show()

+----------------+------------------+
|            City|        TotalSales|
+----------------+------------------+
|     Ramseymouth| 738.2281999999999|
|East Edwardshire|230.09539999999998|
|      Thomasberg| 644.3563999999999|
|     Laurenville|          321.9384|
| South Colinstad|           629.016|
|    Lake Douglas|           780.072|
|   Williamsmouth|            9.8098|
|      Gordonport|          381.0926|
|  West Dawnmouth|            10.496|
|        Seanbury|          627.0803|
|     Sheilaville|           961.429|
|       Mollybury|            222.02|
|       Lisaville|43.405499999999996|
| Lake Jerrymouth|          395.9298|
|       Perezfort|            734.04|
|Port Nicoleshire|111.03739999999999|
|  South Samantha|          169.8004|
|     Port Willie|          780.2487|
|     Waltersfort|           386.967|
|       Youngbury|           268.524|
+----------------+------------------+
only showing top 20 rows

 5. Null Handling & Conditional Tagging

In [31]:
from pyspark.sql.functions import when
from pyspark.sql.functions import lit
df_with_nulls = df.withColumn("City", when(col("City") == "New York", lit(None)).otherwise(col("City")))

In [32]:
df_with_nulls.fillna({"City": "Unknown"}).show()
df_with_nulls.dropna(subset=["City"]).show()

+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|       FinalAmount|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|       Returned|    0.15|     Lake Joyside|Credit Card|           665.584|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|            877.85|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|       Returned|    0.01|     Lake Roberto|     Wallet|          651.3804|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|       Returned|    0.15| West Melanieview|     Wallet|          515.8565|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|      Delivered|    0.17|        Mariastad|       Cash| 64.63210000000001|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|          267.8012|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|          108.2809|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|      Delivered|    0.25|         Grayside|Credit Card|10.567499999999999|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|      Delivered|    0.22|      Jeffreyberg|     Wallet|           679.029|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|       Returned|    0.06|Lake Jenniferside|     Wallet|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|      Delivered|    0.13|   East Nathaniel|       Cash|           40.9422|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|           43.8425|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|       Returned|    0.23|    Lake Toddland|        UPI|268.35269999999997|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|       Returned|    0.03|       Brandtside|       Cash|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|          540.5654|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|        Pending|    0.27|       North Chad|       Cash|183.87969999999999|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
only showing top 20 rows

+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|       FinalAmount|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|       Returned|    0.15|     Lake Joyside|Credit Card|           665.584|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|            877.85|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|       Returned|    0.01|     Lake Roberto|     Wallet|          651.3804|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|       Returned|    0.15| West Melanieview|     Wallet|          515.8565|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|      Delivered|    0.17|        Mariastad|       Cash| 64.63210000000001|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|          267.8012|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|          108.2809|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|      Delivered|    0.25|         Grayside|Credit Card|10.567499999999999|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|      Delivered|    0.22|      Jeffreyberg|     Wallet|           679.029|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|       Returned|    0.06|Lake Jenniferside|     Wallet|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|      Delivered|    0.13|   East Nathaniel|       Cash|           40.9422|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|           43.8425|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|       Returned|    0.23|    Lake Toddland|        UPI|268.35269999999997|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|       Returned|    0.03|       Brandtside|       Cash|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|          540.5654|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|        Pending|    0.27|       North Chad|       Cash|183.87969999999999|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+------------------+
only showing top 20 rows

In [33]:
df = df.withColumn("HighValue", when(col("OrderAmount") > 800, "Yes").otherwise("No"))
df.select("CustomerName", "OrderAmount", "HighValue").show()

+------------------+-----------+---------+
|      CustomerName|OrderAmount|HighValue|
+------------------+-----------+---------+
|     Donald Walker|     783.04|       No|
|      Brandon Hall|      905.0|      Yes|
|      Donald Booth|     657.96|       No|
|    Phillip Garcia|     606.89|       No|
|      Valerie Gray|      77.87|       No|
|       Amber Perez|     352.37|       No|
|        Roy Martin|     148.33|       No|
|    Carolyn Daniel|      14.09|       No|
|       Patty Perez|      79.83|       No|
|Jonathan Wilkerson|     882.68|      Yes|
|       Kevin Hurst|     870.55|      Yes|
| Anthony Rodriguez|     921.73|      Yes|
|     Kyle Mcdonald|     327.52|       No|
|    Jeffrey Chavez|     676.02|       No|
|  Elizabeth Fowler|      47.06|       No|
|     Tammy Sellers|      46.15|       No|
|     David Bradley|     348.51|       No|
|       John Pierce|     362.09|       No|
|   Jennifer Powers|     684.26|       No|
|    George Chapman|     251.89|       No|
+------------------+-----------+---------+
only showing top 20 rows

6. Date & Time Functions

In [34]:
from pyspark.sql.functions import year, month, current_date, datediff
df.select("OrderDate", year("OrderDate").alias("Year"), month("OrderDate").alias("Month")).show()

+----------+----+-----+
| OrderDate|Year|Month|
+----------+----+-----+
|2024-12-26|2024|   12|
|2024-09-12|2024|    9|
|2025-01-12|2025|    1|
|2024-03-24|2024|    3|
|2024-08-04|2024|    8|
|2024-01-13|2024|    1|
|2024-03-04|2024|    3|
|2023-10-07|2023|   10|
|2023-06-27|2023|    6|
|2024-10-14|2024|   10|
|2024-04-08|2024|    4|
|2024-10-02|2024|   10|
|2023-12-15|2023|   12|
|2024-12-14|2024|   12|
|2024-09-18|2024|    9|
|2024-09-10|2024|    9|
|2023-08-03|2023|    8|
|2023-12-25|2023|   12|
|2024-03-19|2024|    3|
|2023-11-28|2023|   11|
+----------+----+-----+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import to_date, datediff, current_date

df = df.withColumn("LoyaltyYears", datediff(current_date(), col("CustomerSince")) / 365)
df.select("CustomerName", "CustomerSince", "LoyaltyYears").show()

+------------------+-------------+------------------+
|      CustomerName|CustomerSince|      LoyaltyYears|
+------------------+-------------+------------------+
|     Donald Walker|   2020-10-15| 4.635616438356164|
|      Brandon Hall|   2022-03-15| 3.221917808219178|
|      Donald Booth|   2021-08-07| 3.824657534246575|
|    Phillip Garcia|   2020-08-08| 4.821917808219178|
|      Valerie Gray|   2022-11-15|2.5506849315068494|
|       Amber Perez|   2022-01-13| 3.389041095890411|
|        Roy Martin|   2023-04-29|2.0986301369863014|
|    Carolyn Daniel|   2021-05-09| 4.071232876712329|
|       Patty Perez|   2021-04-25| 4.109589041095891|
|Jonathan Wilkerson|   2021-06-20| 3.956164383561644|
|       Kevin Hurst|   2022-08-02|2.8383561643835615|
| Anthony Rodriguez|   2022-12-15|2.4684931506849317|
|     Kyle Mcdonald|   2021-07-21| 3.871232876712329|
|    Jeffrey Chavez|   2022-07-30|2.8465753424657536|
|  Elizabeth Fowler|   2021-02-07|  4.32054794520548|
|     Tammy Sellers|   2021-12-17| 3.463013698630137|
|     David Bradley|   2022-09-07|  2.73972602739726|
|       John Pierce|   2023-05-09|2.0712328767123287|
|   Jennifer Powers|   2020-12-06| 4.493150684931507|
|    George Chapman|   2023-02-07|2.3205479452054796|
+------------------+-------------+------------------+
only showing top 20 rows

7. Joins and Unions

In [42]:
region_data = [("New York", "East"), ("Los Angeles", "West"), ("Chicago", "Central")]
region_df = spark.createDataFrame(region_data, ["City", "Region"])

In [43]:
df.join(region_df, on="City", how="inner").show()
df.join(region_df, on="City", how="left").show()

+----+-------+------------+---------------+------+---------+--------------+--------+-----------+-------------+-----------------+------------+------+
|City|OrderID|CustomerName|ProductCategory|Amount|OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|CustomerSinceDate|LoyaltyYears|Region|
+----+-------+------------+---------------+------+---------+--------------+--------+-----------+-------------+-----------------+------------+------+
+----+-------+------------+---------------+------+---------+--------------+--------+-----------+-------------+-----------------+------------+------+

+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-----------------+------------------+------+
|             City|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|CustomerSinceDate|      LoyaltyYears|Region|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-----------------+------------------+------+
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20|       2021-06-20| 3.956164383561644|  NULL|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|       2021-02-07|  4.32054794520548|  NULL|
|  Port Jesseville|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|       2022-01-13| 3.389041095890411|  NULL|
|       North Chad|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|       2023-02-07|2.3205479452054796|  NULL|
|    Lake Toddland|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|       2022-09-07|  2.73972602739726|  NULL|
|     Lake Joyside|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|       2020-10-15| 4.635616438356164|  NULL|
|       Brandtside|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|       2023-05-09|2.0712328767123287|  NULL|
|   West Elizabeth|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|       Cash|   2021-04-30|       2021-04-30| 4.095890410958904|  NULL|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|       2021-07-21| 3.871232876712329|  NULL|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15|       2022-12-15|2.4684931506849317|  NULL|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|       2022-07-30|2.8465753424657536|  NULL|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|       2021-08-07| 3.824657534246575|  NULL|
|       Tracyville|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|       2021-12-17| 3.463013698630137|  NULL|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|       2022-08-02|2.8383561643835615|  NULL|
|      Lake Joseph|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|       2023-04-29|2.0986301369863014|  NULL|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|       2020-08-08| 4.821917808219178|  NULL|
|    New Jamesside|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|       2022-03-15| 3.221917808219178|  NULL|
|         Grayside|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|       2021-05-09| 4.071232876712329|  NULL|
|        Mariastad|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|       2022-11-15|2.5506849315068494|  NULL|
|      Richardland|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|       2021-04-25| 4.109589041095891|  NULL|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-----------------+------------------+------+
only showing top 20 rows

In [44]:
df_2023 = df.filter(year("OrderDate") == 2023)
df_2024 = df.filter(year("OrderDate") == 2024)
df_union = df_2023.union(df_2024)
df_union.show()

+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+------------------+
|OrderID|    CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|CustomerSinceDate|      LoyaltyYears|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+------------------+
|   2169|  Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|       2021-05-09| 4.071232876712329|
|   6313|     Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|       2021-04-25| 4.109589041095891|
|   2040|   Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|       2021-07-21| 3.871232876712329|
|   6038|   David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|       2022-09-07|  2.73972602739726|
|   3060|     John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|       2023-05-09|2.0712328767123287|
|   5061|  George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|       2023-02-07|2.3205479452054796|
|   1964|    Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|       2021-04-30| 4.095890410958904|
|   2612|Nicholas Mcbride|        Fashion|219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|       2022-04-29|3.0986301369863014|
|   1828|  Kimberly Smith|           Toys| 89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|       2022-06-19| 2.958904109589041|
|   4502|Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|       2021-08-19| 3.791780821917808|
|   1958| Kimberly Adkins|    Electronics| 98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|       2021-02-01| 4.336986301369863|
|   5905| Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|       2021-07-30|3.8465753424657536|
|   8239|   Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|       2021-12-27|3.4356164383561643|
|   9379|      Steven Lee|          Books|181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|       2023-05-04| 2.084931506849315|
|   3851|Elizabeth Kelley|        Fashion|517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|       2022-11-19|2.5397260273972604|
|   1757|   John Atkinson|          Books|724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31|       2021-03-31| 4.178082191780822|
|   9486|   Justin Lowery|    Electronics|554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|       2023-04-05| 2.164383561643836|
|   3607|     Karen Green|          Books|621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|       2022-06-24|2.9452054794520546|
|   4919|  Billy Mitchell|    Electronics|653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|       2020-10-05| 4.663013698630137|
|   3267| James Hernandez|          Books|593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|       2022-05-26|3.0246575342465754|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+------------------+
only showing top 20 rows

 8. Complex JSON Simulation

In [45]:
from pyspark.sql.functions import to_json, struct, get_json_object, explode
json_df = df.withColumn("order_json", to_json(struct([col(c) for c in df.columns])))
json_df.select("order_json").show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|order_json                                                                                                                                                                                                                                                                                                        |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"OrderID":2824,"CustomerName":"Donald Walker","ProductCategory":"Books","Amount":783.04,"OrderDate":"2024-12-26","DeliveryStatus":"Returned","Discount":0.15,"City":"Lake Joyside","PaymentMode":"Credit Card","CustomerSince":"2020-10-15","CustomerSinceDate":"2020-10-15","LoyaltyYears":4.635616438356164}   |
|{"OrderID":7912,"CustomerName":"Brandon Hall","ProductCategory":"Groceries","Amount":905.0,"OrderDate":"2024-09-12","DeliveryStatus":"Cancelled","Discount":0.03,"City":"New Jamesside","PaymentMode":"Wallet","CustomerSince":"2022-03-15","CustomerSinceDate":"2022-03-15","LoyaltyYears":3.221917808219178}    |
|{"OrderID":4611,"CustomerName":"Donald Booth","ProductCategory":"Fashion","Amount":657.96,"OrderDate":"2025-01-12","DeliveryStatus":"Returned","Discount":0.01,"City":"Lake Roberto","PaymentMode":"Wallet","CustomerSince":"2021-08-07","CustomerSinceDate":"2021-08-07","LoyaltyYears":3.824657534246575}       |
|{"OrderID":3547,"CustomerName":"Phillip Garcia","ProductCategory":"Fashion","Amount":606.89,"OrderDate":"2024-03-24","DeliveryStatus":"Returned","Discount":0.15,"City":"West Melanieview","PaymentMode":"Wallet","CustomerSince":"2020-08-08","CustomerSinceDate":"2020-08-08","LoyaltyYears":4.821917808219178} |
|{"OrderID":8527,"CustomerName":"Valerie Gray","ProductCategory":"Toys","Amount":77.87,"OrderDate":"2024-08-04","DeliveryStatus":"Delivered","Discount":0.17,"City":"Mariastad","PaymentMode":"Cash","CustomerSince":"2022-11-15","CustomerSinceDate":"2022-11-15","LoyaltyYears":2.5506849315068494}              |
|{"OrderID":4150,"CustomerName":"Amber Perez","ProductCategory":"Books","Amount":352.37,"OrderDate":"2024-01-13","DeliveryStatus":"Cancelled","Discount":0.24,"City":"Port Jesseville","PaymentMode":"Cash","CustomerSince":"2022-01-13","CustomerSinceDate":"2022-01-13","LoyaltyYears":3.389041095890411}        |
|{"OrderID":5554,"CustomerName":"Roy Martin","ProductCategory":"Toys","Amount":148.33,"OrderDate":"2024-03-04","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Lake Joseph","PaymentMode":"Cash","CustomerSince":"2023-04-29","CustomerSinceDate":"2023-04-29","LoyaltyYears":2.0986301369863014}             |
|{"OrderID":2169,"CustomerName":"Carolyn Daniel","ProductCategory":"Electronics","Amount":14.09,"OrderDate":"2023-10-07","DeliveryStatus":"Delivered","Discount":0.25,"City":"Grayside","PaymentMode":"Credit Card","CustomerSince":"2021-05-09","CustomerSinceDate":"2021-05-09","LoyaltyYears":4.071232876712329}|
|{"OrderID":6313,"CustomerName":"Patty Perez","ProductCategory":"Groceries","Amount":79.83,"OrderDate":"2023-06-27","DeliveryStatus":"Cancelled","Discount":0.12,"City":"Richardland","PaymentMode":"Credit Card","CustomerSince":"2021-04-25","CustomerSinceDate":"2021-04-25","LoyaltyYears":4.109589041095891}  |
|{"OrderID":6155,"CustomerName":"Jonathan Wilkerson","ProductCategory":"Fashion","Amount":882.68,"OrderDate":"2024-10-14","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Thomasberg","PaymentMode":"Cash","CustomerSince":"2021-06-20","CustomerSinceDate":"2021-06-20","LoyaltyYears":3.956164383561644}    |
|{"OrderID":9830,"CustomerName":"Kevin Hurst","ProductCategory":"Books","Amount":870.55,"OrderDate":"2024-04-08","DeliveryStatus":"Delivered","Discount":0.22,"City":"Jeffreyberg","PaymentMode":"Wallet","CustomerSince":"2022-08-02","CustomerSinceDate":"2022-08-02","LoyaltyYears":2.8383561643835615}         |
|{"OrderID":9085,"CustomerName":"Anthony Rodriguez","ProductCategory":"Groceries","Amount":921.73,"OrderDate":"2024-10-02","DeliveryStatus":"Cancelled","Discount":0.03,"City":"Port Erin","PaymentMode":"UPI","CustomerSince":"2022-12-15","CustomerSinceDate":"2022-12-15","LoyaltyYears":2.4684931506849317}    |
|{"OrderID":2040,"CustomerName":"Kyle Mcdonald","ProductCategory":"Toys","Amount":327.52,"OrderDate":"2023-12-15","DeliveryStatus":"Returned","Discount":0.06,"City":"Lake Jenniferside","PaymentMode":"Wallet","CustomerSince":"2021-07-21","CustomerSinceDate":"2021-07-21","LoyaltyYears":3.871232876712329}    |
|{"OrderID":6573,"CustomerName":"Jeffrey Chavez","ProductCategory":"Books","Amount":676.02,"OrderDate":"2024-12-14","DeliveryStatus":"Cancelled","Discount":0.19,"City":"Teresaburgh","PaymentMode":"Wallet","CustomerSince":"2022-07-30","CustomerSinceDate":"2022-07-30","LoyaltyYears":2.8465753424657536}      |
|{"OrderID":2743,"CustomerName":"Elizabeth Fowler","ProductCategory":"Electronics","Amount":47.06,"OrderDate":"2024-09-18","DeliveryStatus":"Delivered","Discount":0.13,"City":"East Nathaniel","PaymentMode":"Cash","CustomerSince":"2021-02-07","CustomerSinceDate":"2021-02-07","LoyaltyYears":4.32054794520548}|
|{"OrderID":9837,"CustomerName":"Tammy Sellers","ProductCategory":"Books","Amount":46.15,"OrderDate":"2024-09-10","DeliveryStatus":"Cancelled","Discount":0.05,"City":"Tracyville","PaymentMode":"UPI","CustomerSince":"2021-12-17","CustomerSinceDate":"2021-12-17","LoyaltyYears":3.463013698630137}             |
|{"OrderID":6038,"CustomerName":"David Bradley","ProductCategory":"Fashion","Amount":348.51,"OrderDate":"2023-08-03","DeliveryStatus":"Returned","Discount":0.23,"City":"Lake Toddland","PaymentMode":"UPI","CustomerSince":"2022-09-07","CustomerSinceDate":"2022-09-07","LoyaltyYears":2.73972602739726}         |
|{"OrderID":3060,"CustomerName":"John Pierce","ProductCategory":"Toys","Amount":362.09,"OrderDate":"2023-12-25","DeliveryStatus":"Returned","Discount":0.03,"City":"Brandtside","PaymentMode":"Cash","CustomerSince":"2023-05-09","CustomerSinceDate":"2023-05-09","LoyaltyYears":2.0712328767123287}              |
|{"OrderID":4295,"CustomerName":"Jennifer Powers","ProductCategory":"Electronics","Amount":684.26,"OrderDate":"2024-03-19","DeliveryStatus":"Cancelled","Discount":0.21,"City":"Lammouth","PaymentMode":"UPI","CustomerSince":"2020-12-06","CustomerSinceDate":"2020-12-06","LoyaltyYears":4.493150684931507}      |
|{"OrderID":5061,"CustomerName":"George Chapman","ProductCategory":"Electronics","Amount":251.89,"OrderDate":"2023-11-28","DeliveryStatus":"Pending","Discount":0.27,"City":"North Chad","PaymentMode":"Cash","CustomerSince":"2023-02-07","CustomerSinceDate":"2023-02-07","LoyaltyYears":2.3205479452054796}     |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [46]:
json_df.select(get_json_object("order_json", "$.CustomerName").alias("Customer")).show()

+------------------+
|          Customer|
+------------------+
|     Donald Walker|
|      Brandon Hall|
|      Donald Booth|
|    Phillip Garcia|
|      Valerie Gray|
|       Amber Perez|
|        Roy Martin|
|    Carolyn Daniel|
|       Patty Perez|
|Jonathan Wilkerson|
|       Kevin Hurst|
| Anthony Rodriguez|
|     Kyle Mcdonald|
|    Jeffrey Chavez|
|  Elizabeth Fowler|
|     Tammy Sellers|
|     David Bradley|
|       John Pierce|
|   Jennifer Powers|
|    George Chapman|
+------------------+
only showing top 20 rows

 9. Applying Functions (UDF)

In [48]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def tag_order(amount):
    if amount >= 800:
        return "Big"
    elif amount >= 300:
        return "Medium"
    else:
        return "Small"
tag_udf = udf(tag_order, StringType())
df = df.withColumn("OrderSize", tag_udf(col("Amount")))
df.select("Amount", "OrderSize").show()

+------+---------+
|Amount|OrderSize|
+------+---------+
|783.04|   Medium|
| 905.0|      Big|
|657.96|   Medium|
|606.89|   Medium|
| 77.87|    Small|
|352.37|   Medium|
|148.33|    Small|
| 14.09|    Small|
| 79.83|    Small|
|882.68|      Big|
|870.55|      Big|
|921.73|      Big|
|327.52|   Medium|
|676.02|   Medium|
| 47.06|    Small|
| 46.15|    Small|
|348.51|   Medium|
|362.09|   Medium|
|684.26|   Medium|
|251.89|    Small|
+------+---------+
only showing top 20 rows